<a href="https://colab.research.google.com/github/pks98/Pracfiles/blob/main/interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('/content/interview.csv')
df

,date,customerid,product_quantity,price_per_item,region,transaction_id
0,2021-10-09,CC1,3,33,E,1
1,2021-10-09,CC1,4,22,A,2
2,2020-12-26,CC1,2,111,F,3
3,2020-12-27,CC2,1,22,G,4
4,2020-12-28,CC2,4,11000,G,5
5,2020-12-29,CC3,2,33,S,6
6,2020-12-30,CC3,1,22,S,7
7,2021-10-09,CC4,3,11000,E,8
8,2021-10-10,CC4,4,33,R,9

In [9]:
df.groupby('customerid').sum()['product_quantity'][0:1,]

customerid
CC1    9
Name: product_quantity, dtype: int64

In [10]:
df['sales']=df['product_quantity']*df['price_per_item']

In [11]:
df

,date,customerid,product_quantity,price_per_item,region,transaction_id,sales
0,2021-10-09,CC1,3,33,E,1,99
1,2021-10-09,CC1,4,22,A,2,88
2,2020-12-26,CC1,2,111,F,3,222
3,2020-12-27,CC2,1,22,G,4,22
4,2020-12-28,CC2,4,11000,G,5,44000
5,2020-12-29,CC3,2,33,S,6,66
6,2020-12-30,CC3,1,22,S,7,22
7,2021-10-09,CC4,3,11000,E,8,33000
8,2021-10-10,CC4,4,33,R,9,132

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              9 non-null      object
 1   customerid        9 non-null      object
 2   product_quantity  9 non-null      int64
 3   price_per_item    9 non-null      int64
 4   region            9 non-null      object
 5   transaction_id    9 non-null      int64
 6   sales             9 non-null      int64
dtypes: int64(4), object(3)
memory usage: 632.0+ bytes

In [20]:
df['date'] = pd.to_datetime(df['date'],format='%Y%m%d')

In [33]:
df[(df['date']>'2020-12-21') & (df['date']<='2020-12-27')][['sales','region']]

   sales region
2    222      F
3     22      G

In [40]:
df[df['sales']>1000].groupby('region').count()['transaction_id']

region
E    1
G    1
Name: transaction_id, dtype: int64

In [41]:
df[df['sales']<1000].groupby('region').count()['transaction_id']

region
A    1
E    1
F    1
G    1
R    1
S    2
Name: transaction_id, dtype: int64